<div class="product-wrap">
    <div class="product shadow-media">
        <figure class="product-media">
            <a href="product.html">
                <img src="images/shop/1.jpg" alt="product" width="280" height="315">
            </a>
            <div class="product-label-group">
                <label class="product-label label-new">new</label>
            </div>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
                    title="Add to cart"><i class="d-icon-bag"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <a href="#" class="btn-wishlist" title="Add to wishlist"><i class="d-icon-heart"></i></a>
            <div class="product-cat">
                <a href="shop-grid-3col.html">categories</a>
            </div>
            <h3 class="product-name">
                <a href="product.html">Coast Pool Comfort Jacket</a>
            </h3>
            <div class="product-price">
                <ins class="new-price">$199.00</ins>
            </div>
        </div>
    </div>
</div>