<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Risto<span>ranto</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style="color: black;">menu</i></a>

        <ul class="centerUL hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/menu">Menu</a></li>
          
        </ul>
                
        <ul class="hide-on-med-and-down">
            <li>
                <a class="login" href="#">
                    Login
                </a>
            </li>
            <li>
                <a class="bookTable" href="#">
                    Book Table
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Book Table</a></li>
</ul>