<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>About - Naivedya</title>
    <link rel="stylesheet" href="/css/about.css">

</head>

<body>

    <div class="header">
        {{>Navbar}}
        <div class="landing-text">
            <h1>Nai<span>vedya</span></h1>
            <p>Where food has a divine touch</p>
            <br>
        </div>
    </div>

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img width="100%"
                        src="https://images.thrillophilia.com/image/upload/s--3EcrPvor--/c_fill,f_auto,fl_strip_profile,g_center,h_642,q_auto,w_1280/v1/images/photos/000/163/597/original/1562999721_JWMM_RangMahal.jpeg.jpg">
                </div>
                <div class="col-sm-6 text-center">
                    <h2 style="margin-bottom: 20px;">Motivation</h2>
                    <p class="lead">
                        We realize numerous individuals love Indian sustenance, yet a large number of them loathe or are
                        unconscious of the regularly unfortunate fixings that make run of the mill Indian nourishment
                        taste so great. Our menu highlights things that utilization the sound and fragrant flavors,
                        however forgets the stuffing ghee, spread, oil, and overwhelming cream.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="fixed">

    </div>
    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="padding-right: 20px;">
                    <h2 style="margin-bottom: 20px;">Significance</h2>
                    <p class="lead">

                        We serve food fresh and hot.Moreover,we have food of all cuisines.
                        Naivedya (Sanskrit: नैवेद्य) is a Sanskrit word meaning 'offering to God' in the stricter sense
                        of the words. It could be any offering, tangible or intangible. A resolution, a promise or even
                        a willingness to do, perform or restrict certain things can also connote an offering to God.
                        We consider food to be very precious and encourage you tonot waste it.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img width="100%"  height="400px" src="https://visitmehere.files.wordpress.com/2019/01/makar.jpg?w=600">
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="content">
                <a href="#" class="brand-logo">Nai<span>vedya</span></a>
                <div class="icons">
                    <a href="https://github.com/AryanKhurana/Ristoranto" class="footer__social"><i
                            class='fab fa-facebook-f'></i></a>
                    <a href="https://www.instagram.com/naivedya2020.3/" class="footer__social"><i
                            class='fab fa-instagram'></i></a>
                    <a href="https://github.com/AryanKhurana/Ristoranto" class="footer__social"><i
                            class='fab fa-github'></i></a>
                </div>
            </div>

            <div class="services">
                <h3 class="title">Navigation</h3>
                <ul>
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="/menu" class="link">Menu</a></li>
                    <li><a href="/about" class="link">About Us</a></li>
                    <li><a href="/table" class="link">Book Table</a></li>
                </ul>
            </div>

            <div class="address">
                <h3 class="title">Address</h3>
                <ul>
                    <li>Sambhaji Nagar</li>
                    <li>St. Anthony Road</li>
                    <li>Chembur</li>
                    <li>Mumbai-400071</li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        M.Sidenav.init(document.querySelectorAll('.sidenav'));
    </script>
</body>

</html>