@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.product {
    width: 250px;
    height: 380px;
    padding-left: 10px;
    padding-right: 10px;
}

.product {
    position: relative;
    font-size: 1.4rem;
    color: #999;
    transition: .3s;
}

.product-media {
    position: relative;
    margin-bottom: 0;
    transition: box-shadow .3s;
}

.product-media img:last-child {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    object-fit: cover;
}

.product-media img:first-child {
    position: relative;
    opacity: 1;
}

.product-label-group {
    position: absolute;
    left: 2rem;
    top: 2rem;
    max-width: 10rem;
}

.product-action-vertical {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: opacity .3s, visibility .3s;
    opacity: 0;
    visibility: hidden;
}

.btn-product-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    margin-bottom: .5rem;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    background-color: white;
    color: #999;
    font-size: 1.6rem;
    font-weight: 700;
    transition: border-color .3s, color .3s, background-color .3s;
}