@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    color: #000;
    font-size: 17px!important;
    border-bottom: none!important;
    font-weight: 500!important;
}

.header nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 40px;
    box-shadow: none;
}

.header nav .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header nav .nav-wrapper .brand-logo {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.header nav .nav-wrapper .brand-logo span {
    color: #40c9a2!important;
}

.header nav .nav-wrapper ul li a {
    font-weight: 600;
    color: black;
}

.header nav .nav-wrapper ul li .bookTable {
    display: inline;
    width: fit-content;
    padding: 9px 30px;
    height: 40px;
    border: 1px solid #40c9a2;
    border-radius: 20px;
}

.header nav .nav-wrapper ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #40c9a2;
}

.header nav .nav-wrapper ul li .login {
    padding: 0 30px;
}

.header .sidenav {
    width: 200px;
}

.header .sidenav li a {
    /* text-align: center; */
    padding: 0 22px;
    font-weight: 600;
}

.banner {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/prabinmagar/restaurant-reservation-form/blob/master/banner-img.jpg?raw=true") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}

.banner h2 {
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.card-content {
    background: #fff;
    width: 1000px;
}

.card-content h3 {
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.form select,
.form input,
.form p {
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}

.form input[type=text],
.form input[type=number],
.form input[type=date],
.form input::placeholder,
select {
    color: #9a9a9a;
}

.form input[type=submit] {
    color: #fff;
    background: #40c9a2;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

.form input[type=submit]:hover {
    opacity: 0.9;
}

.form-error-message {
    display: none;
}

.form-error-message.error {
    display: block;
    color: #fff;
    background-color: #f23a3c;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 14.515a7 7 0 110-14 7 7 0 010 14zm-.814-5.86h1.628v-5.21H6.186v5.21zM7 11.259a.82.82 0 00.814-.824A.816.816 0 007 9.631a.813.813 0 100 1.628z' fill='%23fff'/%3E%3C/svg%3E");
    font-size: .75em;
    margin-top: 8px;
    border-radius: 4px;
    background-size: .875em;
    background-position: .375em;
    background-repeat: no-repeat;
    display: inline-block;
    width: auto;
    padding: .25em .5em .25em 1.625em;
}

@media(max-width: 992px) {
    .card-content {
        width: 90%;
    }
    .form-row {
        width: 100%;
    }
}